<h1>Listing asistenciatrabajadors</h1>

<table>
  <thead>
    <tr>
      <th>Entrada</th>
      <th>Salida</th>
      <th>Estado</th>
      <th>Trabajador</th>
      <th>Horario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asistenciatrabajadors.each do |asistenciatrabajador| %>
      <tr>
        <td><%= asistenciatrabajador.entrada %></td>
        <td><%= asistenciatrabajador.salida %></td>
        <td><%= asistenciatrabajador.estado %></td>
        <td><%= asistenciatrabajador.trabajador %></td>
        <td><%= asistenciatrabajador.horario %></td>
        <td><%= link_to 'Show', asistenciatrabajador %></td>
        <td><%= link_to 'Edit', edit_asistenciatrabajador_path(asistenciatrabajador) %></td>
        <td><%= link_to 'Destroy', asistenciatrabajador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asistenciatrabajador', new_asistenciatrabajador_path %>
