<div class="col-md-offset-4 col-md-4">
  <%= form_for( @departamento ) do |f| %>
    <% if @departamento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>
        <ul>
        <% @departamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :descripcion, "Descripción" %><br>
      <%= f.text_area :descripcion , class:"form-control"%>
    </div>
    <%= form_for( @trabajador ) do |t| %>
      <div class="form-group">
        <%= t.label :dni, "DNI del Director" %><br>
        <%= t.text_field :dni , class:"form-control" %>
      </div>
      <div class="actions">
      <%= f.submit class:"btn btn-primary"%>
    </div>
    <% end %>
  <% end %>
</div>


