<p id="notice"><%= notice %></p>

<div class="col-md-offset-4 col-md-4">
  <p>
    <strong>Inicio:</strong>
    <%= @horario.inicio %>
  </p>

  <p>
    <strong>Fin:</strong>
    <%= @horario.fin %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= @horario.dia %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= @horario.turno %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= @horario.curso %>
  </p>

</div>


<%= link_to 'Editar', edit_horario_path(@horario) %> |
<%= link_to 'Regresar', horarios_path %>
