<div class="col-md-offset-5 col-md-2">
    <%= form_for(@aula) do |f| %>
    <% if @aula.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@aula.errors.count, "error") %> prohibited this aula from being saved:</h2>

        <ul>
        <% @aula.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :numero %><br>
      <%= f.number_field :numero , class:"form-control"%>
    </div>
    <div class="actions">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  <% end %>
</div>


