<div class="col-md-offset-4 col-md-4">
<%= form_for(@estudiante) do |f| %>
  <% if @estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
      <% @estudiante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :dni %><br>
    <%= f.text_field :dni, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :codigo_modular %><br>
    <%= f.text_area :codigo_modular, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :paterno %><br>
    <%= f.text_field :paterno, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :materno %><br>
    <%= f.text_field :materno, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :colegio_procedencia %><br>
    <%= f.text_field :colegio_procedencia, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :orden_merito %><br>
    <%= f.number_field :orden_merito, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :lugar_nacimiento %><br>
    <%= f.text_field :lugar_nacimiento, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :promocion %><br>
    <%= f.text_field :promocion, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :estado %><br>
    <%= f.text_field :estado, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :departamento_id %><br>
    <%= f.text_field :departamento_id, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, class:"form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary"  %>
  </div>
<% end %>
</div>


